@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
/* //........top text ........// */
:root {
    /* //....... Color ........// */
    --primary-color: #ff3c78;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}
/* //........top text ........// */
.top-txt {
    background-color: #295a8d;
}
.head {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.945);
    padding: 10px 0;
    font-size: 14px;
}
.head a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.945);
    margin: 0 10px;
}
/* //........ Navbar ........// */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}
.navbar {
    box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
    position: sticky;
    top: 0;
    background: var(--white);
    color: var(--black);
    z-index: 100;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.navbar-container input[type=text] {
    width: 300px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 20rem;
}
.navbar .navbar-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 6px;
    margin-right: -40px;
    background: none;
    font-size: 22px;
    border: none;
    cursor: pointer;
}
.navbar img {
    margin-left: 3rem;
}
.menu-items {
    order: 2;
    display: flex;
    margin-right: 3rem;
}
.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
.navbar-container ul a {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    position: relative;
    transition: 1s;
}
.navbar-container ul a:after {
    content: "";
    position: absolute;
    background: #295a8d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar-container ul a:hover:after {
    width: 100%;
}
/* //........ Home ........// */
.home_page img {
    height: 550px;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.slideshow-container {
    width: 100% ;
    position: relative;
    margin: auto;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} 
.home_txt {
    position: absolute;
    top: 37%;
    left: 5%;
}
.home_txt p {
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}
.home_txt h2 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--light-black);
}
.home_txt .home_label p {
    color: purple;
    font-size: 14px;
    padding-top: 10px;
}
.home_txt a {
    text-decoration: none;
    color: var(--white);
}
.home_txt button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.home_txt .bx-right-arrow-alt {
    font-size: 25px;
    padding-left: 5px;
}
.home_txt .home_social_icons a {
    text-decoration: none;
    color: var(--light-black);
    margin-right: 30px;
    font-size: 30px;
}
/* //........ Collections ........// */
.collections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
}
.content {
    width: 330px;
    margin: 20px;
    position: relative;
}
.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}
.content:hover::after {
    opacity: 1;
}
.content img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}
.img-content p {
    font-size: 1.6rem;
}
.img-content button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}
.img-content a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}
.img-content button:hover {
    background: var(--white);
    color: var(--primary-color);
}
.img-content button:hover~.img-content a {
    color: var(--primary-color);
}
.img-content a:hover {
    color: var(--primary-color);
}
.content:hover .img-content {
    opacity: 1;
    top: 50%;
}
/* //........ Content 2 ........// */
.content2 {
    width: 330px;
    margin: 20px;
    position: relative;
}
.content2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}
.content2:hover::after {
    opacity: 1;
}
.content2 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.img-content2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}
.img-content2 p {
    font-size: 1.6rem;
}
.img-content2 a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: 0.3s;
}
.img-content2 button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}
.img-content2 button:hover {
    background: var(--white);
    color: var(--primary-color);
}
.img-content2 button:hover~.img-content2 a {
    color: var(--primary-color);
}
.img-content2 a:hover {
    color: var(--primary-color);
}
.content2:hover .img-content2 {
    opacity: 1;
    top: 50%;
}
/* //........ Content 3 ........// */
.content3 {
    width: 330px;
    margin: 20px;
    position: relative;
}
.content3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 2;
    opacity: 0;
}
.content3:hover::after {
    opacity: 1;
}
.content3 img {
    width: 100%;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.img-content3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 5;
    opacity: 0;
}
.img-content3 p {
    font-size: 1.6rem;
}
.img-content3 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
}
.img-content3 button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
}
.img-content3 button:hover {
    background: var(--white);
    color: var(--primary-color);
}
.img-content3 button:hover~.img-content3 a {
    color: var(--primary-color);
}
.img-content3 a:hover {
    color: var(--primary-color);
}
.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}
.content3:hover .img-content3 {
    opacity: 1;
    top: 50%;
}
/* //........ seller  ........// */
.best-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-seller .red {
    color: var(--primary-color);
    cursor: pointer;
}
.best-seller .blue {
    color: #8989ce;
    cursor: pointer;
}
.best-seller .white {
    color: var(--light-black);
    cursor: pointer;
}
.best-seller .grey {
    color: grey;
    cursor: pointer;
}
.best-seller .brown {
    color: rgb(175, 53, 53);
    cursor: pointer;
}
.best-seller .yellow {
    color: #ffff00;
    cursor: pointer;
}
.best-seller .orange {
    color: #ffa500;
    cursor: pointer;
}
.best-seller .green {
    color: #008000;
    cursor: pointer;
}
.seller h2 {
    margin-top: 65px;
    margin-bottom: 20px;
}
.seller .best-p1 {
    width: 250px;
    height: 370px;
    /* border: 2px solid black; */
}
.seller .best-p1 img {
    height: 250px;
    width: 250px;
}
.seller .best-p1 .price {
    display: flex;
    justify-content: space-between;
}
.seller .best-p1 .price .colors input[type="radio"] {
    color: #000;
    background-color: #000;
}
.best-seller .buy-now a {
    text-decoration: none;
    color: var(--white);
}
.seller a:hover {
    color: #f05e8a;
}
.best-seller .buy-now button,
.best-seller .add-cart button {
    float: left;
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #295a8d;
    color: var(--white);
    border: none;
    border-radius: 15px;
    font-weight: 500;
    transition: 0.5s;
}
.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
    background-color: white;
    font-weight: 600;
}
.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover {
    color: #f05e8a;
}
        /* css of offer items */
.small-container{
    background-color: #8dcfde;
    width: 100%;
    height: 430px; 
}
.col-1{
    margin-top: 100px;
    margin-left: 70px;
}
.offer-text{
    margin-top: -420px;
    margin-left: 550px; 
    font-size: 20px;
}
.offer-text a{
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    color: red;
}
/* //........ NEWS ........// */
#news {
    margin-bottom: 250px;
}
.news-heading p {
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 70px;
}
.news-heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: var(--light-black);
}
.l-news {
    padding-top: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.l-news img {
    height: 200px;
    width: 300px;
}
.l-news1 {
    position: relative;
    width: 280px;
    height: 230px;
}
.l-news1 .news1-conte {
    position: absolute;
    bottom: -60%;
    left: 7%;
    background: var(--white);
    padding: 25px;
}
.l-news2 {
    position: relative;
    width: 280px;
    height: 230px;
}
.l-news2 .news2-conte {
    position: absolute;
    bottom: -60%;
    left: 7%;
    background: var(--white);
    padding: 25px;
}
.l-news3 {
    position: relative;
    width: 280px;
    height: 230px;
}
.l-news3 .news3-conte {
    position: absolute;
    bottom: -60%;
    left: 7%;
    background: var(--white);
    padding: 25px;
}
.l-news1 .news1-conte .date-news1 p {
    color: var(--light-black);
    text-align: center;
    padding: 15px 0;
}
.l-news1 .news1-conte .date-news1 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}
.l-news1 .news1-conte .date-news1 a {
    text-decoration: none;
    text-align: center;
    padding: 0 50px;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}
.l-news1 .news1-conte .date-news1 a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.l-news1 .news1-conte .date-news1 a:hover:after {
    width: 0%;
}
.l-news1 .news1-conte .date-news1 a:hover {
    color: var(--black);
}
.l-news2 .news2-conte .date-news2 p {
    color: var(--light-black);
    text-align: center;
    padding: 15px 0;
}
.l-news2 .news2-conte .date-news2 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}
.l-news2 .news2-conte .date-news2 a {
    text-decoration: none;
    text-align: center;
    padding: 0 60px;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}
.l-news2 .news2-conte .date-news2 a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.l-news2 .news2-conte .date-news2 a:hover:after {
    width: 0%;
}
.l-news2 .news2-conte .date-news2 a:hover {
    color: var(--black);
}
.l-news3 .news3-conte .date-news3 p {
    color: var(--light-black);
    text-align: center;
    padding: 15px 0;
}
.l-news3 .news3-conte .date-news3 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}
.l-news3 .news3-conte .date-news3 a {
    text-decoration: none;
    text-align: center;
    padding: 0 60px;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}
.l-news3 .news3-conte .date-news3 a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.l-news3 .news3-conte .date-news3 a:hover:after {
    width: 0%;
}
.l-news3 .news3-conte .date-news3 a:hover {
    color: var(--black);
}
       /* owner-detail */
#Owner-deatails  h1{
    text-align: center;
    font-size: 40px;
}     
.owner-detail{
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.owner-1{
    background: #fff;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    box-shadow: #91bce3  0px 4px 15px 10px;
}
.owner-1 p{
    margin: 15px 25px;
    font-size: 13px;
}
.owner-1 h2{
    margin-left: 25px;
    font-size: 25px;
    color: #000000c0;
}
.owner-1 .onwer-img{
    height: 130px;
    width: 130px;
    border: 1px solid red;
    margin-left: 60px;
    box-shadow: #9d81b988 0px 2px 5px 5px;
    border-radius: 10rem;
}
.owner-1 .rating{
    margin-left: 70px;
    color: #ecc377;
}
.owner-1 a{
    margin-left: 80px;
    color: red;
}
/* //........ Footer ...... // */
footer {
    width: 100%;
    background: #295a8d;
}
.footer-container .content_1 img {
    margin: -20px;
    padding: -20px;
    height: 100px;
    width: 350px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.footer-container h4 {
    color: aliceblue;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-size: 18px;
}
.footer-container a {
    display: block;
    text-decoration: none;
    color: aliceblue;;
    margin-bottom: 15px;
    font-size: 14px;
}
.footer-container .content_1 p,
.footer-container .content_4 p {
    color: aliceblue;
    margin: 25px 0;
    font-size: 14px;
}
.footer-container .content_4 input[type="email"] {
    background: #295a8d;
    border: none;
    color: var(--white);
    outline: none;
    padding: 15px 0;
}
.footer-container .content_4 .f-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container .content_4 .bx {
    color: var(--white);
}
.f-design {
    width: 100%;
    color: var(--white);
    text-align: center;
}
.f-design .f-design-txt {
    border-top: 1px solid var(--grey);
    padding: 25px 0;
    font-size: 14px;
    color: aliceblue;
}
/* //........ contact ...... // */
.contact {
    margin-top: 45px;
}
iframe {
    height: 72vh;
    width: 100%;
}
.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
.form .form-txt {
    flex-basis: 48%;
}
.form .form-txt h4 {
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 1.5px;
    font-size: 15px;
    margin-bottom: 15px;
}
.form .form-txt h1 {
    font-weight: 600;
    color: var(--black);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: var(--light-black);
}
.form .form-txt span {
    color: var(--light-black);
    font-size: 14px;
}
.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: var(--light-black);
}
.form .form-txt p {
    color: var(--light-black);
    font-size: 14px;
}
.form .form-details {
    flex-basis: 48%;
}
.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: var(--grey);
    outline: none;
    border: 1px solid var(--grey);
    margin: 35px 15px;
    font-size: 14px;
}
.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: var(--grey);
    outline: none;
    border: 1px solid var(--grey);
    font-size: 14px;
    resize: none;
}
.form .form-details button {
    padding: 15px 25px;
    color: var(--white);
    font-weight: 500;
    background: var(--black);
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
} 